# API Base URLs
VITE_API_URL=
VITE_BACKEND_URL=
FILESYSTEM_DISK=public

VITE_STRIPE_PUBLIC_KEY=
VITE_STRIPE_SECRET_KEY=

#REVERB CREDS
VITE_BACKEND_URL=
VITE_REVERB_HOST=
VITE_REVERB_PORT=
VITE_REVERB_APP_KEY=


# Optional for production
# VITE_API_URL=https://yourdomain.com/api
# VITE_BACKEND_URL=https://yourdomain.com

VITE_APP_NAME=RealEstate